:root {
  font-family: 'Inter', sans-serif;;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #888282;
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  display: grid;
  grid-template-rows: 15px 100px;
  grid-template-columns: 200px 1fr;
  gap: 0.2rem;
  margin: 0;
  background-color: rgb(255, 255, 255);

  position: sticky;
  top: 0;
  z-index: 100;
}


.header-banner {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.logo-container {
  grid-row: 2 / 3;
  grid-column: 1/ 2;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 2rem;
  width: clamp(20px, 80vw, 200px);
}

.navbar{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
  width: clamp(150px, 100vw, 1000px);
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  text-decoration: none;
  position: relative; 
  text-decoration: none;
  color: #1f2a44;
  font-weight: 700;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 100%;
  height: 2px;
  background-color: #1f2a44;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.invitados{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;  
  min-height: 400px;      
}


/* Tablets */
@media (min-width: 768px) {

}

/* Laptops */
@media (min-width: 1024px) {

}

/* Desktop grande */
@media (min-width: 1280px) {

}
